//
// Main Layout (inherits from default layout)
// --------------------------------------------------

.layout-main {

  display: flex;
  flex-direction: column;

  @at-root {
    html,
    body {
      min-height: 100vh;
    }
  }

  @include ie-only() {
    @at-root {
      html,
      body {
        height: 100%;
      }
    }
  }

  main {
    flex-grow: 1;
    z-index: -1;
  }
  
}
