//
// Main Layout (inherits from default layout)
// --------------------------------------------------

.layout-main {

    display: flex;
    flex-direction: column;

    @at-root {
        html,
        body {
            min-height: 100vh;
        }
    }

    main {
        flex-grow: 1;
    }

}
