html {
	position: relative;
	min-height: 100%;
}

body {
	margin-bottom: 60px;

	@media (min-width: $screen-md-min) {
	    margin-bottom: 30px;
    }
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 60px;

	@media (min-width: $screen-md-min) {
	    height: 30px;

	    p {
			text-align: right;
		}
    }
}
