---
layout: main

page_name: Home
page_body_class: page-home

seo_title: Website
seo_description:
---
<section class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>Hello World</h1>
    </div>
  </div>
</section>
